<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>键盘事件</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>学校信息</h1>
        <h2>学校名称：{{shcool.name}}</h2>
        <h2>学校地址：{{shcool.address}}</h2>
        <hr/>
        <h1>学生信息</h>
        <button @click="addSex">添加性别</button>
        <h2>学生姓名：{{student.name}}</h2>
        <h2>学生年龄：真实-{{student.age.rAge}} 对外-{{student.age.sAge}}</h2>
        <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
        <h2>学生朋友</h2>
        <ul>
            <li v-for="(f, index) in student.friends" :key="index">
                {{f.name}} - {{f.age}}
            </li>
        </ul>
    </div>

    <script>
        // 阻止 vue 在启动时生成生产提示
        Vue.config.productionTip = false

        new Vue({
            el: "#root",
            data: {
                shcool: {
                    name: "北京大学",
                    address: "北京"
                },
                student: {
                    name: "tom",
                    age: {
                        rAge: 40,
                        sAge: 18
                    },
                    friends: [
                        {name: "jerry", age: 35},
                        {name: "tony", age: 36}
                    ]
                }
            },
            methods: {
                addSex() {
                    // 写法一
                    // Vue.set(this.student, 'sex', "男")
                    // 写法二
                    this.$set(this.student, 'sex', "女")
                }
            },
        })
    </script>
</body>
</html>