<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例-watch实现</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        computed 和 watch 之间的区别：
            1.computed 能完成的功能，watch 都可以完成。
            2.watch 能完成的功能，computed 不一定能完成，例如：watch 可以进行异步操作。
        两个重要的小原则：
                    1.所有被 Vue 管理的函数，最好写成普通函数，这样 this 的指向才是 vm 或 组件实例对象。
                    2.所有不是被 Vue 所管理的函数（定时器的回调函数、ajax 的回调函数等、Promise 的回调函数），最好写成箭头函数，
                        这样 this 的指向才是 vm 或 组件实例对象。

     -->
    <div id="root">
        姓：<input type="text" v-model="firstName"> <br/>
        名：<input type="text" v-model="lastName"> <br/>
        全名：<span>{{fullName}}</span> <br/>
    </div>

    <script>
        // 阻止 vue 在启动时生成生产提示
        Vue.config.productionTip = false

        new Vue({
            el: "#root",
            data: {
                firstName: "张",
                lastName: "三",
                fullName: "张-三"
            },
            watch: {
                // firstName(val) {
                //     this.fullName = val + "-" + this.lastName
                // },

                // 延时 1s 更新，当此种需求下，用 computed 就无法实现了
                // 注意： setTimeout 方法要写成箭头函数，这样函数里的 this 才说 vm 实例 
                firstName(val) {
                    // setTimeout(() => {
                    //     console.log(this); // this 是 vm 实例
                    //     this.fullName = val + "-" + this.lastName
                    // }, 1000)
                    
                    setTimeout( function() {
                        console.log(this); // this 是 window 实例
                        this.fullName = val + "-" + this.lastName
                    }, 1000)
                },
                lastName(val) {
                    this.fullName = this.firstName + "-" + val
                }

            }
        })
    </script>
</body>
</html>